* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  height: 50px;
  background-color: #ff9a4b;
}

header,
footer {
  min-width: 960px; /* ブラウザの横幅960px以下でも空白できない*/
}

main {
  width: 960px;
  margin: 50px auto;
  display: flex;
  justify-content: center;
}

.content {
  width: 300px;
  margin-right: 30px;
  padding: 10px;
  position: relative;
  background-color: #eeeeee;
}

.content:last-child {
  margin-right: 0;
}

.image1 {
  height: 150px;
  background-image: url(img/flow01.png);
  background-size: cover;
  background-position: bottom;
}

.image2 {
  height: 150px;
  background-image: url(img/flow02.png);
  background-size: cover;
  background-position: bottom;
}

.image3 {
  height: 150px;
  background-image: url(img/flow03.png);
  background-size: cover;
  background-position: bottom;
}

.step {
  padding: 3px;
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  background-color: #ff9a4b;
}

.title {
  margin: 15px 0 5px;
}

footer {
  height: 50px;
  background-color: #aaaaaa;
}

@media screen and (max-width: 768px) {
  header,
  footer {
    min-width: initial; /* min-width初期化*/
  }

  main {
    width: 100%;
    display: block;
  }

  .content,
  .content:last-child {
    width: 90%;
    margin: 20px auto;
  }
}
